.App {
  padding: 15px;
}

.grid {
  border: 2px solid #333;
  border-radius: 7px;
}

.dot {
  margin: 10px;
  border: 2px solid #333;
  width: 200px;
  min-height: 200px;
  border-radius: 50%;
  text-align: center;
}

.dot:hover {
  cursor: pointer;
}

.picker {
  border: 2px solid #333;
  background: #fff;
  border-radius: 7px;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  width: 204px;
  padding: 10px;
}

.picker-circle {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin: 3px;
}

.picker-circle:hover {
  width: 32px;
  height: 32px;
  margin: 1px;
}
