.App {
  padding: 15px;
}

.grid {
  border: 2px solid #333;
  border-radius: 7px;
}

.dot {
  margin: 10px;
  border: 2px solid #333;
  width: 190px;
  min-height: 190px;
  border-radius: 50%;
  text-align: center;
}

.dot:hover {
  cursor: pointer;
}

.picker {
  border: 2px solid #333;
  background: aliceblue;
  border-radius: 7px;
  cursor: default;
  width: 228px;
}

.picker-circle {
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin: 4px;
}

.picker-circle:hover {
  width: 30px;
  height: 30px;
  margin: 0px;
}
